body {
  background: #ECEFF1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img{
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box {
  background: white;
  max-width: 900px;
  padding: 32px 24px;
  border-radius: 3px;
  margin: auto;
}

#login {
  margin: 20px auto 16px;
}

#top {
  margin: 75px auto 16px;
}

.box h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

canvas {
  margin: auto;
  width: 90%;
  height: 500px;
  display: block;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 16px;
}

p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

label {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

a {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#bottom {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 14px;
}

.box button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.login {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.score {
  display: block;
  outline: 0;
  background: #f2f2f2;
  width: 20%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 20px;
}
.score:invalid{
  border:2px dashed rgba(255,0,0,0.5);
}

.time {
  display: block;
  outline: 0;
  background: #f2f2f2;
  width: 40%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 20px;
  font-family:Roboto;
}

#datetime:invalid{
  border:2px dashed rgba(255,0,0,0.5);
}

.add {
  margin: 0;
}

#small {
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 0px;
}

th{
  text-align:left;
}

.jpedit{
  outline: 0;
  background: #f3f3f3;
  width: 50%;
  border: 0;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  margin-top:5px;
}

.jpedit:invalid{
  border:1.5px dashed rgba(255,0,0,0.5);
}

.scatter-legend-marker { 
  width: 14px; 
  height: 14px; 
  display: inline-block; 
}

.box button {
  outline: 0;
  display:inline-block;
  border: 0;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 600px) {
  body, #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }
  body {
    border-top: 16px solid #ffa100;
  }
  .time{
    width: 55%;
  }
  .score{
    width:50%;
  }
}